@model ATM_management_system.Models.NewRegisterModel

@{
    ViewBag.Title = "NewRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="center-box">
    <div class="form-box">
        <h2>NewRegister</h2>
        @using (Html.BeginForm("NewRegister", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()



    <div class="form-control-color">
        <h4>JBI ATM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.AccountNumber)
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.CustomerName)
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.FatherName)
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.PasswordFor(model => model.ContactNo)
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Education)
                @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.PinNumber, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.PasswordFor(model => model.PinNumber)
                @Html.ValidationMessageFor(model => model.PinNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPinNumber, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.PasswordFor(model => model.ConfirmPinNumber)
                @Html.ValidationMessageFor(model => model.ConfirmPinNumber, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div>
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </div>
        }
    </div>
</div>

